<%- include('partials/header') %>
<main class="page-container">
  <div class="app-window">
    <div class="window-titlebar">
      <span class="window-title">Pictor</span>
      <!-- Window Control Buttons -->
      <div class="window-controls">
        <button class="window-btn minimize" title="Minimize">_</button>
        <button class="window-btn maximize" title="Maximize">☐</button>
        <button class="window-btn close" title="Close">X</button>
      </div>
    </div>
    <div class="window-content">
      <div class="grid-container">
        <!-- Verify if the media type is image or video -->
        <% if (mediaType === "image") { %>
          <img src="<%= apodUrl %>" alt="NASA APOD" class="apod-img" loading="lazy" />
          <!--  Use iframe for video -->
        <% } else if (mediaType === "video") { %>
          <iframe
            class="apod-video"
            src="<%= apodUrl %>"
            frameborder="0"
            allowfullscreen
          ></iframe>
        <% } %>

        <!-- Display title and copyright -->
        <div class="apod-info">
          <strong>Title:</strong> <%= title %>
          <br />
          <strong>Credit:</strong> <%= copyright %>
        </div>

        <!-- Display greeting -->
        <div class="greeting"><%= greeting %></div>

        <!-- Randomize Button -->
        <button onclick="location.reload()">Randomize</button>
        </a>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
